useDynLib(dilutionrisk)
importFrom("Rcpp","sourceCpp")
importFrom("stats","integrate", "rlnorm", "var", "dbinom")
importFrom("extraDistr","rbbinom")
export(prob_acceptance_heterogeneous)
export(prob_acceptance_heterogeneous_multiple)
export(prob_acceptance_homogeneous)
export(prob_acceptance_homogeneous_multiple)
export(prob_detection_heterogeneous)
export(prob_detection_heterogeneous_multiple)
export(prob_detection_homogeneous)
export(prob_detection_homogeneous_multiple)
export(pd_curves_homogeneous)
export(pd_curves_heterogeneous)
export(OC_curves_homogeneous)
export(OC_curves_heterogeneous)
export(rtrunpoilog)
export(true_concentration_homogeneous)
export(true_concentration_homogeneous_multiple)
export(true_concentration_curves_homogeneous)
export(true_concentration_heterogeneous)
export(true_concentration_heterogeneous_multiple)
export(true_concentration_curves_heterogeneous)
export(cv_homogeneous)
export(cv_homogeneous_multiple)
export(cv_curves_homogeneous)
export(cv_heterogeneous)
export(cv_heterogeneous_multiple)
export(cv_curves_heterogeneous)
export(pd_validation_homogeneous)
export(pd_validation_heterogeneous)
export(AQL_LQL_homogeneous)
export(AQL_LQL_heterogeneous)
